<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="max-w-lg mx-auto mt-8">
     <form id="task-form" class="my-4 flex">
        <input type="text" id="task-title" class="border p-2 flex-grow rounded-l" placeholder="New task..." required>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r">Add</button>
      </form>

      <h2 class="text-xl font-bold mb-4">Task List</h2>
      
      <ul id="task-list" class="bg-white shadow-md rounded-lg p-4">
        {% for task in tasks %}
          <li>{{ task.title }}</li>
        {% endfor %}
      </ul>

      <div class="mt-4 flex justify-between">
        <button id="prev-page" class="bg-gray-300 px-4 py-2 rounded">Previous</button>

        <button id="next-page" class="bg-gray-300 px-4 py-2 rounded">Next</button>
      </div>
    </div>
  </body>
</html>